@import "../../../assets/stylesheets/bootstrap/forms";

.radio, .checkbox {
  &.bg-danger {
    padding: 10px;
  }
}

.pull-left, .pull-right {
  &.radio, &.checkbox {
    line-height: 24px;
    margin-top: 0;
  }
  &.radio input[type="radio"],
  &.radio-inline input[type="radio"],
  &.checkbox input[type="checkbox"],
  &.checkbox-inline input[type="checkbox"] {
    margin-top: 5px;
  }
}

.pull-right {
  &.radio, &.checkbox {
    padding-left: 0;
    padding-right: 20px;
  }
  &.radio input[type="radio"],
  &.radio-inline input[type="radio"],
  &.checkbox input[type="checkbox"],
  &.checkbox-inline input[type="checkbox"] {
    margin-right: -20px;
  }
}

.field input,
.input input {
  margin: 0;
}

fieldset.form-fieldset {
  border: 1px solid $gray-light;
  padding: 10px;
  margin-bottom: 20px;
}

form {
  fieldset {
    border: 1px solid $gray-light;
    padding: 10px;
    margin-bottom: 20px;
  }
  .field {
    margin-bottom: $line-height-computed / 2;
    &:last-child {
      margin-bottom: 0;
    }
    input[type=text],
    input[type=email],
    input[type=password],
    textarea {
      padding: 9px;
    }
  }
}

form, fieldset {
  .checkbox {
    font-size: 12px;
    color: $gray-dark;
    display: inline-block;
    span.text {
      float: left;
      line-height: 15px;
      white-space: nowrap;
    }
    span.error {
      display: block !important;
    }
  }
  span.error, span.out-of-range {
    display: none;
    color: $red-dark;
    font-size: 11px;
    line-height: $font-size-small;
  }
  .radio {
    span.text {
      float: left;
      line-height: 15px;
      white-space: nowrap;
    }
  }
  .field,
  .loggin-field,
  .expiration,
  .row {
    &.error, &.out-of-range, div.error {
      span.error {
        display: inline;
      }
      @include all-inputs {
        border: $red-dark 1px solid;
      }

      .complement > input {
        border: #ccc 1px solid;
        border-left-width: 0;
      }
      .number > input {
        border: $red-dark 1px solid !important;
      }
    }
  }
  .field.valid {
    @include all-inputs {
      border-color: $green;
    }
  }
}

label {
  font-weight: normal;
}

.loggin-field {
  margin-bottom: 20px;
}

a.forget-pass {
  margin-top: 20px;
  display: inline-block;
}

fieldset legend {
  display: inline-block;
  padding: 0;
  font-size: 13px;
  border: 0;
  padding: 6px;
  margin: -6px;
  width: inherit;
}

@include all-inputs {
  background-color: $white;
  border: 1px solid $gray;
  height: $input-height-base;
  color: $gray-darker;
  font-size: $font-size-extra-small;
  @include border-radius($border-radius-base);
}


.form-control {
  border-radius: 0;
  font-size: $font-size-extra-small;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.credit-card-form,
.cost-center-form {
  margin-bottom: 20px;
}

input.error {
  border-color: $red-dark;
}

fieldset.inline {
  display: inline-block;
  vertical-align: top;
  select, .checkbox {
    display: block;
  }
}

.flex-search-form {
  .input {
    overflow: auto;
    .error {
      color: $red-dark;
    }
  }
  .btn {
    margin-top: 1px;
    margin-left: 10px;
  }
}

select.error {
  color: $red-dark;
  border-color: $red-dark;
}

form.natural-form {
  input {
    border: none;
    border-bottom: $gray-darker 1px dashed;
  }
}

.file-input {
  position: relative;
  > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    bottom: 0;
  }
}
