// this file contains global styles for a generic loggi dashboard

html, body {
  // full-screen body
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@import "main-content";
@import "main-nav";