#main-content {
  > header {
    background: $black;
    font-size: $font-size-small;
    color: #858585;
    @include input-height($header-height);
    padding: 0 20px;
    left: $main-nav-width;
    .logout {
      color: $gray-medium-dark;
    }
    .brand {
      @include hide-text;
      margin: 0;
    }
    .home & {
      background: none;
    }
    a {
      cursor: pointer;
    }
  }
}

#mgm-header {
  $width: 24px;
  $height: 24px;
  display: inline;

  .mgm-heart {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 18px;
    height: 18px;
    margin: 0 3px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASpJREFUeNpi/P//PwMtAQuIeC+hSHWDBV/cB9NMDDQGA2IBJxB3AvETIP4JxIeA2AlNjRUQbwTih0B8BYhrgZgdmwWMoEhGigNmIN4JxM5o6v4CcRQQr4LSi6BqkQFInzdULc44SMRiOMziBVCXz8RiOAi4Q/XjDaJoPMEJCrpdQMyDR00sIQv0CMQZNwF5XUIWCFCYaPgJWXCbQgtuEbJgLoUWTCdkwQQg3kOm4WuBeCohC34DsS8QTwFiYkvBP0DcAMThsDxAKCf/AOJcaKa5T8Dwq0BsC8SN2AwnVBZtB2JtPPEyC4iNgfgEJYXddyBOAeJCtCArA+J0aFlFldIUFPk1UHY9EHeTVOEQCdqhObmZ5BqNSAAKompS0y4jrevk4VllUhUABBgAwlY9Lv/6TIYAAAAASUVORK5CYII=');
    background-size: cover;

    transition: transform 0.4s ease-out;
  }

  a {
    color: $gray-medium-dark;
    transition: color 0.4s;

    &:hover {
      color: $white;
      text-decoration: none;

      .mgm-heart {
        transform: scale(1.5);
      }
    }
  }
}